.team {
  background-color: #f4f4fd;
}
.team-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: white;
  border-radius: 0 0 4px 4px;
}

.team-name {
  padding-bottom: 8px;
  text-align: center;
}
.team-description {
  text-align: center;
}
.team-text {
  padding: 32px 16px;
}
