.team {
  background-color: #f4f4fd;
}
.team-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-list {
}
.team-item {
  background-color: white;
}
.team-image {
}
.team-name {
  text-align: center;
}
.team-description {
  text-align: center;
}
